<div class="grid justify-items-center items-start max-h-40">
  <h1 class="text-2xl">Enough Recipes!</h1>
  <div id="description" class="mb-10">
    <p class="italic text-sm text-slate-700">
      There are already enough recipes on the web. Let's find 'em.
    </p>
  </div>
  <div id="search-form-wrapper">
    <form action="/search" method="get">
      <div>
        {{form}}
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" value="Submit">Search</button>
      </div>
    </form>
  </div>
</div>
